.banner{
  display: flex;
  position: relative;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(72, 86, 100);
  height: 80px;
  width: 100%;
  }

 .backImage{
   position: fixed;
   background-size:cover;
   margin: 0;
   padding: 0;
   text-align: center;
   }
.backImage img{
  text-align: center;
}
  
.logo img{
  width: 15%;
  border: solid 2px rgb(230, 230, 252);
 border-radius: 70px;
 }

.logo{
margin-top: 3px;
 margin-left: 10px;

}
@media screen and (max-width: 850px) {
 .logo  {
   flex: none;
    max-width: 500px;
  };
  }
      
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

li {
  float: left;
}

li a {
  display:block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding:  14px 16px;
  text-decoration: none;
}

li a:hover {
  color:rgb(39, 39, 44);
  background-color: rgb(168, 168, 189) ;
  border-radius: 10px;
  
}
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  
  }

  
 
 
.main-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(5, 5, 121);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
 
}

.contact-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(5, 5, 121);
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(181, 212, 253);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 300px;
  height: 450px;
}
.contact-title h1{
  padding-left: 30px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:black;
  font-size: 17px;
  }

  .changeTheColor {
    -webkit-animation-name: example; 
    -webkit-animation-duration: 7s; 
    animation-name: example;
    animation-duration: 10s; 
   
  }
         
        
        @keyframes example {
          0%   { opacity: 0; }
          25%  {color: rgb(14, 12, 11);}
          40%  {color: rgb(8, 100, 88);}
          50%  {color: rgb(40, 2, 177);}
          70%  {color: rgb(33, 137, 235);}
          85%  {color: rgb(168, 159, 253);}
          100% { opacity: 1;}
        }
   
        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes example{
          0%   { opacity: 0; }
          25%  {color: rgb(14, 12, 11);}
          40%  {color: rgb(8, 100, 88);}
          50%  {color: rgb(40, 2, 177);}
          70%  {color: rgb(33, 137, 235);}
          85%  {color: rgb(168, 159, 253);}
          100% { opacity: 1; }
        }
       
        .line
          {
            position: relative;
            height:0px;
            width:1px;
            border-bottom:1px solid #000;
            -webkit-animation: increase 10s;
            -moz-animation:    increase 10s; 
            -o-animation:      increase 10s; 
            animation:         increase 10s; 
            animation-fill-mode: forwards;
            }
          
          @keyframes increase {
            100% {
              width: 800px;
          }
              }

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes increase {
          100% {
              width: 800px;
          }
      }
      

      @media screen and (max-width: 600px) {
        .line{
            position: relative;
            height:0px;
            width:1px;
            border-bottom:1px solid #000;
            -webkit-animation: increase2 10s;
            -moz-animation:    increase2 10s; 
            -o-animation:      increase2 10s; 
            animation:         increase2 10s; 
            animation-fill-mode: forwards;
            }
          }

            @keyframes increase2 {
              100% {
                width: 400px;
            }
                }

          /* Safari 4.0 - 8.0 */
          @-webkit-keyframes increase2 {
            100% {
                width: 400px;
            }
        }


      .MyName {
        position: relative;
        -webkit-animation-name: noorName; 
        -webkit-animation-duration: 5s; 

        animation-name: noorName;
        animation-duration: 5s;
      }

      @keyframes noorName {
        from {left: -300px;}
        to{left: 0;}
       
      }
        
      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes noorName{
        from {left: -300px;}
        to{left: 0;}
      }



.hero-text h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color:rgb(72, 86, 100);
  width: 100%;
  color:white ;
  }
   
 .copyright {
 text-align: center;
 }
.icons img{
  width: 4%;
  border-radius: 3px;
  padding: 4px;
 
 
}
 .icons{
  
  align-items: center;
  margin: 30px;
 }

.icons img:hover{
 cursor: pointer;
}

 

.my-name{
  font-family: cursive;
  
}

.Qualifications{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(5, 5, 121);
 margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  background: rgb(241, 241, 247);
  padding-left: 30px;
  padding-top:20px ;
  padding-bottom: 30px;
  padding-right: 30px;
  border-radius: 15px;
}



.Qualifications ul{
  display:grid;
  line-height: 25px;
}
.Qualifications h3{
  background: white;
  width:400px;
  border-radius: 10px;
  height: 30px;
  padding-top: 4px;
  padding-left: 10px;
 
}

.container{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(5, 5, 121);
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  background: rgb(241, 241, 247);
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
  border-radius: 15px;
}
.container ul{
  display: grid;
  line-height: 25px;
  padding-left: 10px;
}
.container h4,p{
  padding-left: 10px;
}

.container h3{
  background: white;
  width:400px;
  border-radius: 10px;
  height: 30px;
  padding-top: 4px;
  padding-left: 10px;
}

.Resume{
  margin-bottom: 100px;
}

.download{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(5, 5, 121);
 margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 200px;
  background: rgb(241, 241, 247);
  padding-left: 30px;
  padding-top:20px ;
  padding-bottom: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;

  }

  .download a{
    margin-left: 10px;
    text-decoration: none;
    border: solid 1px gray;
    padding: 7px;
    border-radius: 7px;
    background-color: rgb(132, 245, 132);
    color:gray;
    font-weight: bold;
  }
  .download a:hover{
    box-shadow: 2px 2px 2px rgb(96, 97, 94);
    background-color: green;
    color: honeydew;
  }
  .name{
    padding: 10px;
    padding-left: 30px;
  }
  .name label{
    font-size: 20px;
  }
  .name input{
      margin-left: 27px;
      width: 300px;
      height: 27px;
      border-radius: 7px;
  }
  .messageMe textarea{
    margin-left: 5px;
    width: 300px;
    height: 200px;
    border-radius: 7px;
  }

  .messageMe{
    padding: 10px;
    display: flex;
    padding-left: 30px;
  }

  .messageMe label{
    font-size: 20px;
  }

  .send-button{
    margin-left:355px ;
   }
   .send-button button{
     padding: 5px;
     width: 60px;
     border-radius: 5px;
     font-weight: bold;
     background-color: rgb(212, 238, 247);
   }
.send-button button:hover{
  background-color: rgb(111, 28, 219);
  color: rgb(6, 29, 238);
  box-shadow: 4px 5px 5px gray;
  cursor: pointer;
}

.photos {
 position: relative;
 border-radius: 10px;
 margin: 0;
 width: 700px;
 
 
}

.photos img{
  width: 15%;
  border-radius: 10px;
  box-shadow: 2px 3px 3px gray;
  cursor: pointer;
 }



.photos img:nth-of-type(1) {
  left: 50px;
  top: 50px;
  
}

.photos img:nth-of-type(2) {
  left: 150px;
  top: 100px;
  
}

.photos img:nth-of-type(3) {
  left: 250px;
  top: 50px;
  
}

.photos img:nth-of-type(4) {
  left: 350px;
  top: 150px;
  
}

.photos img:nth-of-type(5) {
  left: 450px;
  top: 50px;
 
}

.photos img:nth-of-type(1) {
  left: 50px;
  top: 50px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}

.photos img:nth-of-type(2) {
  left: 150px;
  top: 100px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.photos img:nth-of-type(3) {
  left: 250px;
  top: 50px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}

.photos img:nth-of-type(4) {
  left: 350px;
  top: 150px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.photos img:nth-of-type(5) {
  left: 450px;
  top: 50px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.photos img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 10;
}

.photos img:hover {
  -webkit-transform: rotate(380deg) scale(1.5);
  -moz-transform: rotate(380deg) scale(1.5);
  -o-transform: rotate(380deg) scale(1.5);
  transform: rotate(380deg) scale(1.5);
  z-index: 100;
}

.photos img {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.photos img {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  padding: 10px 10px 30px 10px;
  background: white;
  border: solid 2px rgb(153, 138, 236);
}


.row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-top: 30px;
 padding-bottom: 30px;
 margin-bottom: 75px;
 border-radius: 7px;
 }

 .row img{
  border: solid rgb(153, 153, 235);
   border-radius: 8px;
  box-shadow: 4px 4px 4px gray;
 }

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



.pageContent{
  width: 100%;

}

.photoContainer img{
   width: 60%;
   border-radius: 15px;
   border: solid 2px rgb(153, 138, 236);
   box-shadow: 3px 7px 7px gray;
}

.showThePhoto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}


  @media screen and (max-width: 850px) {
 
    .banner {
      display: table;
     
     };
    }

    @media screen and (max-width: 800px) {
     .hero-text {
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:black;
        font-size: 14px;
        }
      } 
      @media screen and (max-width: 500px) {
        .hero-text {
           text-align: center;
           position: absolute;
           top: 60%;
           left: 50%;
           transform: translate(-50%,-50%);
           color:black;
           font-size: 10px;
           }
         }
         
    @media screen and (max-width: 600px) {
     .Qualifications {
       font-size: 10px;
           }
       }

   @media screen and (max-width: 600px) {
     .container{
          font-size: 10px;
               }
           }
    @media screen and (max-width: 600px) {
      .download{
          font-size: 10px;
                }
            }
    @media screen and (max-width: 600px) {
      .main-title {    
          font-size: 12px;
                   }
            } 
    
            
 .contactTitle{
  padding-top: 20px;
  text-align: center;
  font-family: sans-serif;
  color: rgb(5, 5, 121);
  margin-top: 100px;
}
 
 .social-icons img{
  width: 5%;
  padding: 10px;
}

.MyWorkIcons img{
  width: 10%;
  border: solid rgb(73, 73, 83);
  border-radius: 10px;
  margin: 30px;
}

.MyWorkIcons img:hover{
  opacity: 0.4;
  box-shadow: 2px 3px 3px gray;
}
.MyWorkIcons{
  margin-bottom: 200px;
}


.Design{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(5, 5, 121);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 500px;
}

.logoIcons img{
  width: 20%;
  border: solid rgb(73, 73, 83);
  border-radius: 10px;
  margin: 30px;
}

.logoIcons{
  margin-bottom: 300px;
}

.social-icons img:hover{
  opacity: 0.4;
 
}





    
